*{
    margin: 0; padding: 0; list-style: none; text-decoration: none;
}
section{
    width: 100%;
}
header{
    width:  100%;
    height: 30px;
    padding: 5px;
    background-color: #00483D;
    line-height: 30px; 
}
.nav-bar ul li{
    display: inline-flex;
    margin:  0 20px 0 0;
}
.nav-bar ul li a{
    color: #fff;

    text-decoration: none;

    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
}
.nav-bar{
    margin:  0 100px 0 100px;
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul li:hover a{color: #ff0;}
.nav-bar-search{
    width: auto;
    margin:  20px 100px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav-bar-search .logo{
    margin: 0 0 0 100px;
}
.nav-bar-search .logo img{border-radius: 50%;}
.nav-bar-search .logo a{
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: brown;
    font-weight: 700;
    width: 250px;
}
.nav-bar-search .logo a span{
   margin: 0 0 0 10px;
}
.search{
    display: flex;
}
.search input{
    width: 500px;
    height: 35px;
    border-radius: 10px;
    outline: none;
   border: none;
    box-sizing: border-box;
    box-shadow: 1px 4px 6px 2px #ccc;
}
.search input::placeholder{
    padding: 10px;
    font-weight: 600;
}
.search .icon {
    padding: 8px;
    position: relative;
    background-color: saddlebrown;
    border-radius: 10px;
    left: -30px;
}
.icon i{
    color: #fff; 
    font-weight: 600;
    font-size: 15px;
}
.check-cart{
    padding: 15px 20px;
    background-color: #00483D;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color:  #fff;
}
.check-cart i{color: #fff; margin: 0 10px 0 0;}
.check-cart:hover{
    background-color: green;
    cursor: pointer;
}
.cart{
    display: flex;
}
.cart i{
    font-size: 36px;
    color: green;
}
.cart span{
    padding: 10px;
    background-color: greenyellow;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.cart::before{
    content: "";
    position: absolute;
    border: 10px solid;
    right: 128px;
    top: 74px;

    border-color: transparent greenyellow transparent transparent;
}
/* .cart span:nth-child(2){
    width: 1px; 
    height: 1px;
    margin: 8px -10px 0 10px;
    transform: rotate(45deg);
    position: relative;
    left: 9px;
} */
.categories{
    width: auto;
    margin:  0 100px 0 100px;
    background-color: #00483D;
    border-radius: 10px;
    height: 60px;
}
.categories ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}
.categories ul li{
    padding: 10px 20px 10px 20px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.categories ul li:hover .loading-bar{
   visibility: visible;
   animation: hieuung linear 0.3s;
}
.categories ul li a{
    font-size: 19px;
    color: #fff;
}
.categories ul li:hover a{
    color: #b1e040;
}

.categories ul li .loading-bar{
    position: relative;
    height: 2px;
    background-color: #ff0;
    visibility: hidden;
}

@keyframes hieuung{
   0%{
       width: 0;
   }
   30%{
       width: 30%;
   }
   50%{
       width: 50%;
   }
   70%{
       width: 70%;
   }
   90%{
       width: 90%;
   }
   100%{
       width: 100%;
   }
}